    sub {color:red; font-weight:bold;}
          .ex {background-color:grey; color:green;}

            .ax {background-color:beige; color:black; padding-bottom:0px; padding-left:5px; padding-right:5px; font-weight:normal; border-radius:5px;}

            .bl {color:black; font-weight:bold;}

           .b2 {color:blue; font-weight:bold;}

           .y {color:yellow; font-weight:bold;}

           .gb {color:green; font-weight:bold; font-size:40px; position: relative; top: 7px;}

           .r {color:red; font-weight:bold;}

           .green {color:green; font-weight:bold;}

           .br {color:brown; font-weight:bold;}

           .u {border-bottom: 2px solid blue; padding-bottom: 1px;}

           .u1 {border-bottom: 2px solid red; padding-bottom: 1px;}

           .u2 {border-bottom: 2px solid green; padding-bottom: 1px;}

           .bb {background-color:beige; color:brown; font-weight:bold;}

           .brr {border-bottom: 2px solid brown; padding-bottom: 1px;}

           .l {border-bottom: 2px solid lime; padding-bottom: 1px;}

           .f {border-bottom: 2px solid fuchsia; padding-bottom: 1px;}

           .wow {background-color:beige; color:brown; font-weight:bold; padding:2px; border-radius:5px;}

           .wow2 {background-color:beige; color:black; font-weight:normal; padding-top:1px; padding-bottom:1px; padding-left:0px; padding-right:0px; border-radius:5px;}

           .wow1 {color:black; font-weight:bold; padding:2px; border-radius:5px;}

           .gr1 {background-color:beige; color:green; font-weight:bold; display: block; margin-top: -6px; }

           .gr2 {background-color:beige; color:green; font-weight:bold; margin-top: -6px; }

           .gr3 {background-color:white; color:blue; font-weight:bold; border-radius:10px; padding:5px;}

           .ch {background-color:yellow; color:black; font-weight:bold; margin-top: -6px; }

           .def {background-color:gold; color: black; padding-left:2px; padding-right:2px; font-size:10px; font-weight: bold;}

           .tt {background-color:green; color:yellow; padding: 1px;}

           .ll {color:lime;}

           .wh {color:white;}

           .bg {color:beige;}

           .cy {color:cyan;}

           .dng {background-color:green; color:yellow; font-weight:bold;}

            .fine {background-color:blue; color:yellow; font-weight:normal; padding:2px; border-radius:5px;}


         